@model Category

@{
    ViewData["Title"] = "Home Page";
}

<h2>Index- Create</h2>

<form id="Gloria" asp-action="Create" style="color: aliceblue; width: 50%; margin: auto;">
  <div class="mb-3">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control"/>
    <div id="nameHelp" class="form-text">Name of the record.</div>
  </div>
  <div class="mb-3">
    <label asp-for="DisplayOrder" class="form-label"></label>
    <input asp-for="DisplayOrder" class="form-control"/>
    <div id="displayOrderHelp" class="form-text">Display Order of the record.</div>
  </div>
  <button type="submit" class="btn btn-primary">Create <i class="fa-solid fa-square-plus"></i></button>
</form>