
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Fail</title>
</head>
<body>
    <div>
        Somethings went wrong.
    </div>
</body>
</html>
