<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <style>
        body{
            color: aliceblue;
            background-color: #0c0c0d;
        }
    </style>
</head>
<body>
    <h3>From Layout</h3>
    <div>
        @RenderBody()
    </div>
</body>
</html>
